<!-- Dashboard Sidebar
	================================================== -->
<div class="dashboard-sidebar">
    <div class="dashboard-sidebar-inner" data-simplebar>
        <div class="dashboard-nav-container">

            <!-- Responsive Navigation Trigger -->
            <a href="#" class="dashboard-responsive-nav-trigger">
                <span class="hamburger hamburger--collapse">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </span>
                <span class="trigger-title">Dashboard Navigation</span>
            </a>

            <!-- Navigation -->
            <div class="dashboard-nav">
                <div class="dashboard-nav-inner">

                    <ul data-submenu-title="Start">
                        <li class="active"><a href="/"><i class="icon-material-outline-dashboard"></i> Dashboard</a>
                        </li>
                    </ul>

                    <ul data-submenu-title="Organize and Manage">
                        <li><a href="#"><i class="icon-feather-award"></i>Certificates</a>
                            <ul>
                                <li><a href="/certificates">Manage Certificates <span
                                            class="nav-tag"><%= certificatesNumber %></span></a>
                                </li>
                                <li><a href="/add-certificate">Add Certificate</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="icon-line-awesome-folder-open-o"></i>Courses</a>
                            <ul>
                                <li><a href="/courses">Manage Courses <span
                                            class="nav-tag"><%= coursesNumber %></span></a>
                                </li>
                                <li><a href="/add-course">Add Course</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul data-submenu-title="Account">
                        <li><a href="/logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
                    </ul>

                </div>
            </div>
            <!-- Navigation / End -->

        </div>
    </div>
</div>
<!-- Dashboard Sidebar / End -->